.body {
    background-color: #000000;
    color: aliceblue;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.achievements {
    border: 2px dashed purple;
    padding: 10px;
    width: 80%;
    text-align: center;
    position: absolute;
    left: 10%;
}

.achievement {
    background-color: #363738;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 5px;
}

.achievement > div {
    margin: 10px;
}

.achievement > img {
    border-radius: 5px;
    width: 270px;
    height: 270px;
}

.info > h3 + p {
    line-height: 1.6rem;
    word-spacing: 0.5rem;
    font-size: 20px;
    text-align: justify;
    margin: 25px;
}


